/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require typeahead/typeahead
 *= require_self
 */

.search-content-1 .search-container > ul .search-item > .search-content > .search-title {
  margin-bottom: 0px;
}

.search-content .search-title + .address-line {
  margin: 0 0 20px;
}

.search-page .search-filter button {
  padding: 6px 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  width: auto;
}

.tt-menu {
  margin-top: -1px;
  border: 1px solid #c2cad8;
}

.language {
  position: absolute;
  right: 0;
  z-index: 99;
}

.language,
.navbar-form .form-control {
  border-radius: 0;
  -webkit-appearance: none;
}
